doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap-datepicker.js')
  body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                .brand #{title}
    block content
