extends layout

block content
    div.well.span8.offset4
        h1 #{message.title}
        div.message #{message.message}
        div.date 
            h3 post date 
            p #{message.date}
        div.location
        div.future 
            h3 public date
            p #{message.publicDate}


